<div class="container mtop15">
  <div class="row">
    <div class="col-lg-6 col-md-7 col-sm-8">
      <h3>Register</h3>
      <form ng-submit="$ctrl.registerSubmit()">
        <div class="form-group">
          <label for="username">Username:</label>
          <input class="form-control" ng-model="$ctrl.register.username" name="username" type="text" placeholder="Username" id="username" required />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input class="form-control" ng-model="$ctrl.register.password" name="password" type="password" placeholder="Password" id="password" required />
        </div>
        <div class="form-group">
          <label for="first_name">First Name:</label>
          <input class="form-control" ng-model="$ctrl.register.first_name" name="first_name" type="text" placeholder="First Name" id="first_name" required />
        </div>
        <div class="form-group">
          <label for="last_name">Last Name:</label>
          <input class="form-control" ng-model="$ctrl.register.last_name" name="last_name" type="text" placeholder="Last Name" id="last_name" required />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input class="form-control" ng-model="$ctrl.register.email" name="email" type="email" placeholder="Email" id="email" required />
        </div>
        <button class="btn btn-success" type="submit">Register</button>
      </form>
    </div>
    <div class="col-lg-6 col-md-5 col-sm-4">
      <form ng-submit="$ctrl.loginSubmit()">
        <h3>Login</h3>
        <div class="form-group">
          <label for="username">Username:</label>
          <input class="form-control" ng-model="$ctrl.username" name="username" type="text" placeholder="Username" id="username" required />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input class="form-control" ng-model="$ctrl.password" name="password" type="password" placeholder="Password" id="password" required />
        </div>
        <button class="btn btn-success" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
